:root{
  --cor-fundo: #127405 ;
  --cor-principal: #033801 ;
  --cor-secundaria: #660385;
  --cor-destaque: #0eb116;
  --cor-texto: #ffffff;


}


body {
  background-color: var(--cor-fundo);
  background-image: url(https://w0.peakpx.com/wallpaper/759/333/HD-wallpaper-gta-san-andreas-background-gta-grand-theft-auto-san-andreas-gta-san-andreas-gta-sa-gtasa-gta-five-gta-v-san-andreas-grand-theft-auto-five-gta-iv-grand-theft-auto-grand-theft-auto-v-gta-3.jpg);
  background-size: contain;
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.caixa-principal{
  background-color: var(--cor-principal);
  width: 90%;
  max-width: 600px;
  text-align: center;
  padding: 20px;
}


h1{
  color: var(--cor-destaque);
}


button {
  background-color: var(--cor-secundaria);
  color: var(--cor-texto);
  border: none;
  border-radius: 15px;
  padding: 15px;
  transition: background-color 0.3s;
}


button:hover{
  background-color: var(--cor-destaque);
  color: var(--cor-principal);
}